.btn-container {
  margin-left: 5px;
  width: 30px;
  display: flex;
  flex-grow: 10;
  justify-content: space-between;
  align-items: baseline;
}

.button {
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  border-color: transparent;
}

.btn-img {
  color: black;
  margin-bottom: 5px;
  font-size: 15px;
  width: 15px;
  height: 15px;
  text-align: center;
}

.fa-ellipsis-vertical {
  color: black;
  font-size: 15px;
  width: 15px;
  height: 15px;
  text-align: center;
}

.arrow-active {
  transform: rotate(180deg);
}

.button-close {
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.btn-primary {
  margin-left: 500px;
}
