.modal-form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.label-form {
  margin-bottom: 5px;
  margin-left: 20px;
}
.input-form {
  margin-left: 20px;
  margin-bottom: 5px;
  height: 30px;
  width: 200px;
  border: 1px solid gray;
}

.btnEditRow {
  width: 80px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.error {
  font-size: xx-small;
  font-weight: 400;
  font-style: italic;
  color: tomato;
}
