.table {
  display: table;
  border: 1px solid #dddddd;
  border-radius: 5px;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 1200px;
}

.header-row {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: left;
  padding: 20px 10px;
  border-bottom: 1px solid lightgrey;
  font-weight: 700;
  width: 1200px;
}

.header-column {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  border-left: 3px solid lightgray;
  height: 20px;
}

.table-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid lightgray;
  color: rgb(49, 47, 47);
}

.table-column {
  padding: 20px 10px;
  text-align: left;
  width: 100%;
}
