#root {
  display: table;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 15px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 1200px;
}

.header-row {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
  font-weight: 700;
  width: 1200px;
}
